<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>My friends love food</span>
    <span class="spacer"></span>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" style="width: 150px;">
        <mat-nav-list>
            <a mat-list-item href="/home">Recepten</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="margin: 2em;">
            <div *ngIf="recipe?.Id" class="justify-content-center">
                <h1>{{recipe.Title}}</h1>
                <div>
                    <mat-chip-list #ingredients [ngModel]="recipe?.Ingredients" name="ingredients">
                        <mat-chip *ngFor="let ingredient of recipe.Ingredients">
                            {{ingredient}}
                        </mat-chip>
                    </mat-chip-list>
                </div>
                <div>
                    <pre>{{recipe.Description}}</pre>
                </div>
                <div>
                    <h4>Vegan: {{recipe.Vegan ? "Ja" : "Nee"}}</h4>
                </div>
                <div>
                    <h4>Auteur: {{recipe.Autor}}</h4>
                </div>
                <div>
                    <h4>Bereidingstijd: {{recipe.PrepTime}}</h4>
                </div>
                <div>
                    <h4>Recept voor {{recipe.Persons}} {{recipe.Persons == 1 ? "persoon" : "personen"}}</h4>
                </div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>