<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>My friends love food</span>
    <span class="spacer"></span>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" style="width: 150px;">
        <mat-nav-list>
            <a mat-list-item href="/home">Recepten</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="margin: 2em;">
            <div class="row">
                <div class="col-8">
                    <div *ngIf="recipe?.Id" class="justify-content-center">
                        <h1>{{recipe.Title}}</h1>
                        <h5>Auteur: {{recipe.Autor}}</h5>
                        <div>
                            <mat-chip-list #ingredients [ngModel]="recipe?.Ingredients" name="ingredients">
                                <mat-chip *ngFor="let ingredient of recipe.Ingredients">
                                    {{ingredient}}
                                </mat-chip>
                            </mat-chip-list>
                        </div>
                        <h4 style="margin-top: 1em;">Bereidingstijd: {{recipe.PrepTime}}</h4>
                        <div class="row">
                            <div class="col">
                                <h4>Recept voor {{recipe.Persons}} {{recipe.Persons == 1 ? "persoon" : "personen"}}</h4>
                            </div>
                            <div class="col">
                                <mat-checkbox color="primary" [disabled]="true" [class.mat-checkbox-disabled]="false" #vegan name="Vegan" [ngModel]="recipe?.Vegan" style="margin-left: 1em;">Vegan </mat-checkbox>
                            </div>
                        </div>
                        <pre class="descriptionBox" class="recipeDescription">{{recipe.Description}}</pre>
                    </div>
                </div>
                <div class="col-4">
                        <img class="image" [src]="recipe.Picture" alt="picture">
                </div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>