    <mat-toolbar color="primary">
        <button mat-icon-button  class="example-icon" (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>My friends love food</span>
            <span class="spacer"></span>
            <button mat-icon-button>
                <mat-icon>add</mat-icon>
            </button>
        </mat-toolbar>
        <mat-sidenav-container>
            <mat-sidenav #sidenav mode="side" style="width: 150px;">
                <mat-nav-list>
                    <a mat-list-item href="/home">Recepten</a>
                    <a mat-list-item href="/recipeform">Voeg recept toe</a>
                </mat-nav-list>
            </mat-sidenav>
            <mat-sidenav-content>
                <router-outlet></router-outlet>
            </mat-sidenav-content>
        </mat-sidenav-container>